.section-2 {
    margin-top: 70px;
    display: flex;
    height: 400px;
    position: relative;
    justify-content: flex-end;
    cursor: pointer;

    @media screen and (max-width: 470px) {
        margin-bottom: 300px;
    }

    @media screen and (max-width: 370px) {
        margin-bottom: 400px;
    }
    .div-img {
        background: url(/assets/img/woman-6734444_1920.jpg) center/cover;
        position: relative;
        width: 46%;
        margin-right: 30px;
        border-radius: 2px;

        @media screen and (max-width: 855px) {
            width: 100%;
            margin: 0;
        }

        .text {
            border-radius: 3px;
            gap: 23px;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $white1;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 70%;
            width: 130%;
            height: 300px;
            box-shadow: 0 2px 9px 6px rgba(170, 166, 166, 0.4784313725);

            @media screen and (max-width: 855px) {
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
            }

            @media screen and (max-width: 470px) {
                height: 400px;
            }

            @media screen and (max-width: 370px) {
                height: 500px;
            }

            .little-text {
                font-weight: bold;

                i {
                    padding-top: 2px;
                }
            }
        }
    }
}